*.err
*.ewo
*.htm
*.vsw
Simulation
KCG
*.l4
*.rqtfimage
*.zip
*.dh
*.dc
sc2c*
kcg_metrics.txt
kcg_files.txt
kcg_trace.xml
kcg.log
config.txt
cmd_cg.log
user_macros.h
scade_model_without_unused.scade

